body {
    background: #DED7A2;
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

header {
    width:500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top:10px;
    padding:30px;
    gap: 15px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    padding: 1px;
    margin: 0 auto;
    margin-top:10px;
    text-align: center;
    
}

.nav-link {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-link a {
    color: #000;
    text-decoration: none;
}

.nav-link a:hover {
    color: #333;
}

.nav-link a:active {
    color: #000;
}