.presentation-content .headline-picture {
    width: 120%;
    max-width: none;
    margin-left: -42%;
    margin-bottom: 126px;
}

@media (max-width: 767px) {
    .presentation-content .headline-picture {
        width: 100%;
        margin-left: 0;
    }
}

.presentation-content p.presentation-text {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
}

.presentation-content a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.presentation-content a:hover {
    color: #cc6f00;
}